* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}
body {
  background-image: url("bg.jpg");
  top: 0px;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s linear 0s;
  background-attachment: fixed;
  font-family: "Times New Roman", Times, serif;
}
.container-task {
  padding: 20px;
}

.task {
  text-align: center;
  height: 320px;
  padding: 20px;
  background: white;
}
.tasklist-div {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.tasklist {
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 420px;
  background: rgba(255, 102, 255, 0.3);
}

h3 {
  margin-left: 30px;
}
ul li .checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li .checked::before {
  content: url("check.svg");
  top: 10px;
  left: 16px;
  height: 15px;
  width: 15px;
}

li:hover {
  background-color: aqua;
  /* cursor: pointer; */
  
}
li {
  border-bottom: solid 2px;
  margin-top: 15px;
  list-style: none;
}


ul {
  text-align: left;
}
.text input {
  padding: 10px;
  outline: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: Transparent;
  width: 320px;
  height: 55px;
  border: 2px solid gainsboro;
  box-shadow: 1.5px 1.5px gainsboro;
}
::placeholder {
  color: black;
  color: gray;
}
#title {
  position: relative;
  top: 45px;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 5px;
}

#title-list {
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: 5px;
}
.bt input {
  margin-top: 30px;
  width: 320px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 0.6px;
  border: 2px solid #3399ff;
  background-color: #ff00ff;
  cursor: pointer;
  color: white;
}
.bt input:hover {
  background-color: #3399ff;
}
.text input:focus {
  border: 1px solid #1da1f2;
}

.close:hover{
  color: white;
}
.close{
  float: right;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  background: rgba(0, 255, 255, 0);
}